<%- include('../partials/header', { pageTitle: event.name, currentPage: 'register' }) %>

<article class="event-details">
    <%- include('../partials/_eventSubnav', { event: event }) %>

    <section class="event-registration">
        <h2>Registrace pro <%= event.name %></h2>
        <article>Zaregistrujte se přímo na webu firmy zajišťující časomíru:</article>
        <h3><a href="https://ptime.cz/zavod?id=560" target="_blank" class="btn">Zaregistrovat</a>

        <h4>Startovné - jednotlivec</h4>
        Startovné 350 Kč. V ceně jídlo a pitný režim, účastnická medaile.

        <h4>Startovné - štafety</h4>
        Lze se přihlásit ve dvou nebo tříčlenné štafetě. V tomto případě je startovné 750kč za celou štafetu. V ceně jídlo a pitný režim, účastnická medaile pro každého člena štafety.
        <%#
        include('_registrationForm', { eventId: event.id, errors: typeof errors !== 'undefined' ? errors : [], formData: typeof formData !== 'undefined' ? formData : {} })
         %>
    </section>
</article>

<%- include('../partials/footer') %>
