<%- include('../partials/header', { pageTitle: event.name, currentPage: 'details' }) %>

<article class="event-details">
    <%- include('../partials/_eventSubnav', { event: event}) %>
  <section>
    V letošním ročníku bude na výběr ze dvou tratí. Ke klasické (dlouhé) přibude
    i krátká, která je poloviční.
    <ul>
      <li>dlouhá - 500m plavání, 24km kolo, 5km běh</li>
      <li>krátká - 250m plavání, 12km kolo, 2.5km běh</li>
    </ul>
  </section>
  <section class="track-section">
    <h2 class="track-title">Plavání</h2>
    <div class="track-content">
      <p>Plavání - (dlouhá 500m, krátká 250m)</p>
      <img src="/images/swim.png" alt="Plavani" class="track-image" />
    </div>
  </section>

  <section class="track-section">
    <h2 class="track-title">Kolo</h2>
    <div class="track-content">
      <p>Jízda na kole - (dlouhá 24km - 2 kola, krátká 12km - 1 kolo)</p>
      <img src="/images/bike.png" alt="Kolo" class="track-image" />
    </div>
  </section>

  <section class="track-section">
    <h2 class="track-title">Běh</h2>
    <div class="track-content">
      <p>Běh 5km - (dlouhá 5km - 2 kola, krátká 2.5km - 1 kolo)</p>
      <img src="/images/run.png" alt="Beh" class="track-image" />
    </div>
  </section>

</article>

<%- include('../partials/footer', { mapData: true }) %>
