</main>
    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Spolek Dřevěného muže</p>
    </footer>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <% if (typeof mapData !== 'undefined' && mapData) { %>
        <script src="/js/map.js"></script>
    <% } %>

    <% if (typeof isEditPage !== 'undefined' && isEditPage) { %>
        <script src="https://cdn.tiny.cloud/1/<%= tinymce_key %>/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script src="/js/wysiwyg-setup.js"></script>
     <% } %>


</body>
</html>
