# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*

# SQLite Database File
database.sqlite # <--- ADD THIS LINE
database.sqlite-journal # Add journal file too

# Optional Editor directories
.vscode*/
.idea*/

# Optional system files
.DS_Store

# Production build folder (if applicable later)
dist/
build/

# Test coverage
coverage/
