<%- include('partials/header', { pageTitle: pageTitle, events: events }) %>

<section class="contact-card">
    <h2 class="contact-title">Kontakt</h2>
    <div class="contact-block">
        <strong>Organizátor:</strong><br>
        Spolek Dřevěného muže ve spolupráci OSD ICOM transport a.s. a SKP Jihlava, z.s
    </div>
    <div class="contact-block">
        <strong>Email:</strong><br>
        <a href="mailto:spolekdrevenehomuze@seznam.cz">spolekdrevenehomuze@seznam.cz</a>
    </div>
    <div class="contact-block">
        <strong>Bankovní účet:</strong><br>
        131-961890217/0100
    </div>
    <div class="contact-block">
        <strong>Facebook:</strong><br>
        <a href="https://www.facebook.com/profile.php?id=61556679761214" target="_blank">Spolek Dřevěného muže</a>
    </div>
</section>

<%- include('partials/footer') %>
